.rootmean {
	color: #B2B2B2;
	font-size: 80%;
}

.explaintarget {
	color: brown;
	font-family: 微軟正黑體, 標楷體;
}

.explaintarget, .explainroot {
	font-size: 44px;
	font-weight: bold;
	width: 1.4em;
	text-align: center;
}

.explaintable table {
	width: 100%;
}

.explaintable th, .explaintable td {
	vertical-align: middle;
	padding: 3px 8px;
}

.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 25px;
}
table {
	background-color: #fff;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
	background-color: #ececec;
}

.explaintarget, .explainroot {
	font-size: 44px;
	font-weight: bold;
	width: 1.4em;
	text-align: center;
}

.col-md-1 {
	width: 8.33333333%;
}

.col-md-3 {
	width: 25%;
}

.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
	border-top: 0;
}
.table > thead > tr > th {
	vertical-align: bottom;
	border-bottom: 2px solid #ddd;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 1px solid #ddd;
}

th {
	text-align: left;
}
